* {
    box-sizing: border-box;
}
h1{font-size: 24px}
#menu a{
	font-size: 20px;
	text-align: center;
	text-decoration: none}
#menu a:hover{color: green}

.wrap{max-width: 1000px;margin: auto;}
p{font-family: Open Sans Condensed, sans-serif;
	text-align: center;
	font-size: 1.5vmax;
	padding: 0.1%;}

.image {
	float: left;
	width: 33%;
	height: 33%;
	padding: 1%;
}

.image:hover {
	background-color: #dddddd;
}
.image img {
	width: 1000px; height:300px}
img {max-width:100%; max-height: 300px}